<nav class="navbar shadow-sm bg-dark navbar-dark  justify-content-between flex-nowrap flex-row fixed-top">
    <div class="container">
      <a class="navbar-brand float-left" href="" target="_blank">
         Onemart
      </a>
      <ul class="nav navbar-nav flex-row float-right">
        <li class="nav-item">
          <router-link class="nav-link pr-3" to="/login">Sign in</router-link>
        </li>
        <li class="nav-item">
          <router-link class="btn btn-outline-primary" to="/">Sign up</router-link>
        </li>
      </ul>
    </div>
  </nav>


  <div class="social-icons">
    <ul>
        <li><a href="#"><i class="fa fa-google"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
</div>

<li><a href="/src/components/Login.vue"></a></li>
<li><a href="/src/components/Signup.vue"></a></li>

<div style="background-image: url(/src/assets/cartbox.jpeg);">
    ju
</div>

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;    
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #2554FF;
}

.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: #222222;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  width: 65px;
  vertical-align: middle;
  border: 1px solid #e3e8f9;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  background: #f4f6ff;
}

.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #222222;
}

@media (max-width: 722px) {
  .onemart {
    display: block;
    margin-left: 0% !important;

  }

  .jumbotron {
    margin-left: 1.2rem !important;
    margin-right: 6.6rem !important;
    max-width: 75% !important;
  }

  .log {
    margin-top: 10px !important;
    margin-left: 4.2rem !important;
    /* margin-right: 5.7rem !important; */
    margin-bottom: 3rem;
  }

.note {
  margin-top: 0px !important;
}
}

@media (max-width: 655px) {
  .onemart {
    display: block;
    margin-left: 0% !important;

  }

  .jumbotron {
    margin-left: 1.2rem !important;
    margin-right: 6.6rem !important;
    max-width: 75% !important;
  }

  .log {
    margin-top: 10px !important;
    margin-left: 2.2rem !important;
    max-width: 85% !important;
    /* margin-right: 5.7rem !important; */
    margin-bottom: 3rem;
  }

.note {
  margin-top: 0px !important;
}
}

@media (max-width: 557px) {
  .onemart {
    display: block;
    margin-left: 0% !important;

  }

  .jumbotron {
    margin-left: 1.2rem !important;
    margin-right: 6.6rem !important;
    max-width: 75% !important;
  }

  .log {
    margin-top: 10px !important;
    margin-left: 1.2rem !important;
    /* margin-right: 5.7rem !important; */
    max-width: 80% !important;
    margin-bottom: 3rem;
  }

  .note {
    margin-top: 0px !important;
  }
}

@media (max-width: 406px) {
  .onemart {
    display: block;
    margin-left: 0% !important;

  }

  .jumbotron {
    margin-left: 1.2rem !important;
    margin-right: 6.6rem !important;
    max-width: 75% !important;
  }

  .log {
    margin-top: 10px !important;
    margin-left:  .5rem !important;
    /* margin-right: 5.7rem !important; */
    max-width: 75% !important;
    margin-bottom: 3rem;
  }

  .note {
    margin-top: 0px !important;
  }
}


<template>
  <template>
    <div class="onemart">
        <section class="jumbotron text-center shadow-lg col-md-8" style="">
          <div class="container note">
          <h1 class="lab">Welcome To Onemart</h1>
          <p class="lead lab">
            Something short and leading about the collection
            below—its contents, the creator, etc. Make it short and sweet, but not too short 
            so folks don’t simply skip over it entirely.
          </p>
          <!-- <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
          </div>
        </section>
    <div class="card log shadow-lg mb-5 col-md-4">
      <div class="mt-3 text-center"><h3>Sign Up</h3></div>
      <div class="card-body">
    
            <form @submit.prevent="addUser">
                <div class="form-group">
                    <label class="lab"><strong>Name</strong></label>
                    <input type="text" class="form-control form-control-lg" v-model="user.name" name="name" required autofocus placeholder="Enter Name"/>
                </div>
    
                <div class="form-group">
                    <label class="lab"><strong>Email address</strong></label>
                    <input type="email" class="form-control form-control-lg" v-model="user.email" name="email" required placeholder="Enter e-mail address"/>
                </div>
    
                <div class="form-group">
                    <label class="lab"><strong>Password</strong></label>
                    <input type="password" class="form-control form-control-lg" v-model="user.password" name="password" required placeholder="Enter password" />
                </div>
    
          <div class="form-group">
                    <label class="lab"><strong>Confirm Password</strong></label>
                    <input type="password" class="form-control form-control-lg" v-model="user.confirm_password" name="confirm_password" required placeholder="Confirm password" />
                </div>
    
                <button type="submit" class="btn btsg btn-lg btn-block">Sign Up</button>
                  <hr>
                <p class="forgot-password ">
                    Already registered ?
                    <router-link :to="{name: 'login'}"><b>Sign in.</b></router-link>
                </p>
            </form>
        </div>
      </div>
    </div>
    </template>
    
    <script>
      import axios from 'axios'
      import { mapState, mapActions } from 'vuex'
    
    
      export default {
        data() {
          return {
            user: {
              name: '',
              email: '',
              password: '',
              confirm_password: '',
            },
    
            submitted: false
          }
        },
    
        computed: {
          ...mapState('account', ['status'])
        },
    
        methods: {
          ...mapActions([
          'addUser'
          ]),
          // addUser function
          addUser() {
            this.submitted = true;
    
              // axios 
              axios.post("http://127.0.0.1:8000/api/auth/register", {
                // const payload = {
                // user: {
                  name: this.user.name,
                  email: this.user.email,
                  password: this.user.password,
                  password_confirmation: this.user.confirm_password
                // }
                // }
              });
              .then(function (response) {
                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              })
    
              // this.addUser(payload)
    
              // this.name: '',
              // this.email: '',
              // this.password: '',
              // this.confirm_password: ''
    
    
              // promises
    
            
            
            // alert
              // alert('registering user...');
            }
            
          }
        }
    </script>
    
</template>